# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore target directory
target/

# Ignore launch.json file
.vscode/launch.json

# Ignore gitignore file
.gitignore